header{
    text-align: center;
    padding-bottom: 30px;
        h1 {
            display:none;
        }

        h2 {
            display:none;
        }

        .bannerHome {
            width: 100%;
        }
}